<nav class="">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a
      href="/"
      onclick="navigate(event, '/')"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img src="/assets/logo.svg" class="h-8" alt="Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap"
        >Company Name</span
      >
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="flex flex-row items-center space-x-8 rtl:space-x-reverse font-medium p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:p-0 md:mt-0 md:border-0 md:bg-white"
      >
        <li>
          <a
            href="/"
            onclick="navigate(event, '/')"
            class="relative inline-block text-gray-800 group"
          >
            Home
            <span
              class="absolute left-0 bottom-[-2px] h-[2px] w-0 bg-amber-500 transition-all duration-300 group-hover:w-full"
            ></span>
          </a>
        </li>
        <li>
          <a
            href="/about"
            onclick="navigate(event, '/about')"
            class="relative inline-block text-gray-800 group"
          >
            About
            <span
              class="absolute left-0 bottom-[-2px] h-[2px] w-0 bg-amber-500 transition-all duration-300 group-hover:w-full"
            ></span>
          </a>
        </li>
        <li>
          <a
            href="/services"
            onclick="navigate(event, '/services')"
            class="relative inline-block text-gray-800 group"
          >
            Services
            <span
              class="absolute left-0 bottom-[-2px] h-[2px] w-0 bg-amber-500 transition-all duration-300 group-hover:w-full"
            ></span>
          </a>
        </li>
        <li>
          <a
            id="sendButton"
            href="/contact"
            onclick="navigate(event, '/contact')"
            class="inline-block bg-amber-500 text-white px-6 py-3 rounded-md font-semibold hover:bg-amber-600"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
